{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": "off",
    "no-var": "off",
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off"
  }
}